*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/*LAYOUT CLASSES*/

.d-flex{
    display: flex;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm{
    max-width: 990px;
    margin: 0 auto;
}

.background{
    width: 100%;
}

.row{
    flex-wrap: wrap;
    width: 100%;
}

.col-15{
    width: calc(70% / 4);
}

.col-25{
    width: 25%;
}

.col-30{
    width: 30%;
}

.col-40{
    width: 40%;
}

.col-50{
    width: 50%;
}

.col-60{
    width: 60%;
}

.col-100{
    width: 100%;
}

/* END LAYOUT CLASSES*/

/* UTILITY CLASSES */

.align-center{
    align-items: center;
}

.align-end{
    align-items: flex-end;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.bg-blue{
    background-color: #255ee9;
}

.bg-lightgrey{
    background-color: rgb(0,0,0,0.05);
}

.bg-grey{
    background-color: rgb(39, 39, 39);
}

.pd-10{
    padding: 10px;
}

.pd-20{
    padding: 20px;
}

.pd-80{
    padding: 80px 0;
}

.pd-top-80{
    padding-top: 80px;
}

.mr-top-10{
    margin: 10px;
}

.font-20{
    font-size: 20px;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.cl-white{
    color: white;
}

/* END UTILITY CLASSES */

ul{
    list-style-type: none;
}

.nav li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
}

.nav li a{
    font-size: 20px;
    font-weight: 600;
    padding: 7px;
}

hr{
    border-color: rgb(144, 144, 232);
}

.btn{
    padding: 10px 16px;
    border-radius: 20px;
    font-weight: bold;
}

.accedi{
    font-size: 18px;
    color: black;
    background-color: white;
}

.background-jumbo{
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

h2{
    font-size: 52px;
}

.section h2{
    padding-bottom: 30px;
}

p{
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
}

.buttons{
    padding-top: 20px;
    padding-bottom: 100px;
}

.arrow{
    font-size: 28px;
}

.mac, .browser{
    font-size: 20px;
    margin: 0 20px;
    padding: 15px 20px;
    border-radius: 32px;
    font-weight: bold;
}

.mac{
    background-color: white;
    color: black;
}

.browser{
    background-color: black;
    color: white;
}

.item4{
    width: 120%;
}

h4{
    font-size: 30px;
}

#mac{
    color: white;
    background-color: rgb(144, 144, 232);
}

.bg-wave{
    background-image: url("../img/wave.svg");
    background-size: cover;
    height: 100px;
    opacity: 0.05;
}

.flip{
    transform: rotate(180deg);
}

h3{
    font-size: 34px;
}

h3, #title{
    color:  rgb(144, 144, 232);
}

#title{
    font-size: 24px;
    font-weight: 600;
}

.ita{
    height: 16px;
}

.fab{
    color: white;
    font-size: 32px;
    padding: 10px;
}

.italy{
    padding: 10px;
    font-size: 20px;
}

.footer li{
    padding: 10px;
    color: white;
    font-size: 20px;
}

.registrati{
    background-color: rgb(144, 144, 232);
    font-size: 18px;
    color: white;
}

.bottom-footer{
    padding-top: 20px;
    padding-bottom: 70px;
}